.App {
  /* Light theme */
  /* background-color: #e3e0cf; */

  /* Dark theme */
  /* background-color: #252525; */

  background-color: #E6E6E6;
}

.App > .container {
  margin-top: 20px;
}

.header-wrapper {
  width: 100%;
  box-sizing: border-box;
  height: 74px;
}

.header-image {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/wine-grapes.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

@media only screen and (min-width: 678px) {
  .header-wrapper {
    height: 312px;
  }
}