.navbar {
  background-color: #87403f;
}

.navbar > container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.dropdown {
  text-transform: capitalize;
  text-align: right;
}

.navbar-nav .dropdown-menu {
  text-align: right;
  background-color: #E6E6E6;
}
.dropdown-menu.show {
  transition: all .4s ease-in-out;
}

.dropdown-menu .dropdown-item {
  color: #87403f;
}

.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
  color: rgba(255,255,255,.75);
  background-color: #87403f;
}

.navbar-brand.brand-custom {
  color: #efefef !important;
  font-size: 24px;
  font-weight: bold;
}

.form-inline {
  margin-top: 16px;
  margin-bottom: 8px;
}

.form-inline .form-control {
  background-color: #f1f1ef;
}

@media only screen and (min-width: 992px) {
  .dropdown {
    text-align: center;
  }

  .navbar-nav .dropdown-menu {
    text-align: left;
  }

  .form-inline {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
}