.wine-card {
  color: #87403f;
  background-color: #efefef;
  display: block;
  min-height: 167px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: all .4s ease-in-out;
  box-shadow: 0 13px 40px 0 rgb(0 0 0 / 8%);
}

.wine-card:hover {
  color: #87403f;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.wine-name {
  font-size: 17px;
  height: 75px;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;  
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  border-radius: 4px 4px 0px 0px;
}

.wine-card:hover .wine-name {
  text-decoration: underline;
}

.wine-info {
  padding: 0px 20px 20px;
}

.fa.fa-chevron-right {
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  right: 30px;

  transition: all .4s ease-in-out;
}

.wine-card:hover .fa.fa-chevron-right {
  right: 20px;
}