.wine-card {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.wine-name {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}