.wine-card {
  color: #87403f;
  background-color: #feefff;
  display: block;
  min-height: 167px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: all .4s ease-in-out;
  box-shadow: 0 13px 40px 0 rgb(0 0 0 / 8%);

  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 161px 12px;
}

.wine-card.bgimg-barrel {
  background-image: url('../assets/images/barrel-white.png');
}
.wine-card.bgimg-bottle {
  background-image: url('../assets/images/bottle-glass-white.png');
}
.wine-card.bgimg-clock {
  background-image: url('../assets/images/wine-clock.png');
}

@media only screen and (min-width: 768px) {
  .wine-card {
    background-position: 125px 33px;
  }
}

.wine-card:hover {
  color: #87403f;
  background-color: #fdf9f9;
  cursor: pointer;
  text-decoration: none;
}

.wine-name {
  font-size: 17px;
  height: 75px;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;  
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  border-radius: 4px 4px 0px 0px;
}

.wine-card:hover .wine-name {
  text-decoration: underline;
}

.wine-info {
  padding: 0px 20px 20px;
}

.fa.fa-chevron-right {
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  right: 30px;

  transition: all .4s ease-in-out;
}

.wine-card:hover .fa.fa-chevron-right {
  right: 24px;
}
