body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.large-text {
  font-size: 20px;
}

.medium-text {
  font-size: 18px;
}

.small-text {
  font-size: 14px;
}

.p-no-margin {
  margin-bottom: 0px;
}

.p-margin-top {
  margin-top: 20px;
}

@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }
}
